---
component: article
---

<article class="c-article{{#if articleContextClass}}--{{articleContextClass}}{{else}}--default{{/if}}{{#if articleClasses}} {{articleClasses}}{{/if}}" data-css="c-article">

	{{#if articleHeader}}
		<header class="article__header{{#if articleHeaderClasses}} {{articleHeaderClasses}}{{/if}}">
			{{> c-article__header articleHeader}}
		</header>
	{{/if}}

	{{#if articleFigure }}
		<div class="article__figure{{#if articleFigureClasses}} {{articleFigureClasses}}{{/if}}">
			{{> c-figure articleFigure}}
		</div>
	{{/if}}

	<div class="article__content{{#if articleContentClasses}} {{articleContentClasses}}{{/if}}">
		{{#if articleSummary}}
			{{{truncate articleSummary articleLength "..." }}}
		{{else}}
			{{#with articleMd}}
				{{> c-rte}}
			{{/with}}
		{{/if}}
	</div>

	{{#if articleFooter}}
		<footer class="article__footer {{articleFooterClasses}}">
			{{> c-article__footer articleFooter}}
		</footer>
	{{/if}}

</article>