---
component: rich-text-editor
---

<div class="c-rte{{#if rteContextClass}}--{{rteContextClass}}{{else}}--default{{/if}}{{#if rteClasses}} {{rteClasses}}{{/if}}" data-css="c-rte">
	{{#if rteMd}}
		{{md rteMd}}
	{{/if}}

	{{#if rtes}}
		{{#each rtes}}
			{{md rteMd}}
		{{/each}}
	{{/if}}
</div>