---
component: youtube-video
---
<div class="c-yt-video{{#if ytModifierClass}}--{{ytModifierClass}}{{/if}} {{ytClasses}}" data-css="c-yt-video">
         <iframe src="{{ytUrl}}" frameborder="0" width="{{ytWidth}}" height="{{ytHeight}}"></iframe>
</div>