<div class="form__textarea">
	<div class="form__col-label">
		<label for="{{ id }}">
			{{ label }} {{#is required "required"}}<abbr title="Required">*</abbr>{{/is}}
		</label>
	</div>
	<div class="form__col-input">
		<textarea id="{{id}}" rows="5" placeholder="{{ placeholder }}"
			{{#if minlength}} data-minlength="{{minlength}}"{{/if}}
			{{#if maxlength}} data-maxlength="{{maxlength}}"{{/if}}
			{{#if dataErrormessage}} data-errormessage="{{dataErrormessage}}"{{/if}}
			{{#if required}} required="required"{{/if}}></textarea>
	</div>
</div>
