<div class="form__input">
	{{#is wrapper true}}
		<div class="form__col-left is-middle">
	{{/is}}
	<label for="{{ id }}"{{#if label-class}} class="{{label-class}}"{{/if}}>
		{{ label }} {{#or required validate-me}}<abbr title="Required">*</abbr>{{/or}}
	</label>
	{{#is wrapper true}}
		</div>
		<div class="form__col-right">
	{{/is}}
	<input id="{{ id }}" type="{{ type }}" placeholder="{{ placeholder }}"
		{{#each data-attribute}}
			{{data-attribute}}{{#if data-attribute-value}}="{{data-attribute-value}}"{{/if}}
		{{/each}}
		{{#is required "required"}}required="required"{{/is}}
		{{#if pattern}}pattern="{{{ pattern }}}"{{/if}}
		{{#if input-class}} class="{{input-class}}"{{/if}}/>
	{{#is wrapper true}}
	</div>
	{{/is}}
	{{#if custom-errormessage}}
		<div class="form__error" hidden="">
			<p>{{custom-errormessage}}</p>
		</div>
	{{/if}}
</div>