{{! --------------------------------------
component: form
-------------------------------------- }}

<form class="c-form{{#if options.context}}--{{options.context}}{{else}}--default{{/if}}{{#if classes}}{{classes}}{{/if}}" action="{{options.action}}" method="{{options.method}}" data-css="c-form"{{#if options.ajax}} data-js-module="form-ajax" data-js-options='{}'{{/if}}>
	{{{yield}}}
</form>