{{!
--------------------------------------
component: form
--------------------------------------
}}

<form class="c-form{{#if options.modifier}}--{{options.modifier}}{{/if}}{{#if classes}}{{classes}}{{/if}}" action="{{options.action}}" method="{{options.method}}" data-css="c-form" data-js-module="form">
	{{{yield}}}
</form>