<div class="form__checkbox">
	<div class="form__col-label">
		<strong>{{label}}</strong>
	</div>
	<div class="form__col-input">
		{{#each checkboxes}}
			<div class="{{class}}">
				<input id="{{id}}" type="{{../type}}" placeholder="{{placeholder}}" value="{{checkboxValue}}"
				{{#each dataAttr}} {{attrKey}}="{{{attrValue}}}"{{/each}}
				{{#if required}} required="required"{{/if}}
				{{#if pattern}} pattern="{{{ pattern }}}"{{/if}}
				{{#if inputClass}} class="{{inputClass}}"{{/if}}/>
				<label for="{{ id }}">{{{ label }}}{{#if required}} <abbr title="Required">*</abbr>{{/if}}
				</label>
			</div>
		{{/each}}
	</div>
</div>
