<div class="form__radio">
	<div class="form__col-label">
		<strong>{{label}}{{#if required}} <abbr title="Required">*</abbr>{{/if}}</strong>
	</div>
	<div class="form__col-input">
		<ul class="form__radio-list {{class}}">
			{{#each radio}}
				<li class="form__radio-elements">
					<input id="{{id}}" name="{{../name}}" type="radio"
					{{#each dataAttr}} {{attrKey}}="{{{attrValue}}}"{{/each}}
					{{#if ../required}} required="required"{{/if}}/>
					<label for="{{id}}">{{{label}}}</label>
				</li>
			{{/each}}
		</ul>
	</div>
</div>