---
component: pagination
---

<div class="c-pagination{{#if pagContext}}--{{pagContext}}{{else}}--default{{/if}}{{#if pagClasses}} {{pagClasses}}{{/if}}" data-css="c-pagination">
	<ul class="pagination__list" data-js-atom="search-results-pagination">
		{{#if pagButtons}}
			<li class="pagination__list-item is-disabled">
				<strong class="pagination__list-element is-previous"><span class="is-hidden">{{pagButtons.pageDescription}}</span>{{pagButtons.previous}}
				</strong>
			</li>
		{{/if}}

		<li class="pagination__list-item is-active">
			<span class="is-hidden">{{pagCurrent}}</span> <strong class="pagination__list-element">1</strong>
		</li>
		<li class="pagination__list-item">
			<a class="pagination__list-element" href="#">2</a>
		</li>
		<li class="pagination__list-item">
			<a class="pagination__list-element" href="#">3</a>
		</li>
		<li class="pagination__list-item is-more">
			<a class="pagination__list-element" href="#">...</a>
		</li>
		<li class="pagination__list-item">
			<a class="pagination__list-element" href="#">{{pagMax}}</a>
		</li>
		{{#if pagButtons}}
			<li class="pagination__list-item">
				<a class="pagination__list-element is-next" href="#" title="One Page Forward">
					<span class="is-hidden">{{pagButtons.pageDescription}}</span>{{pagButtons.next}}
				</a>
			</li>
		{{/if}}
	</ul>
</div>