---
title: Markdown in Assemble
menuLink: Markdown
sortOrder: 07
---

{{#extend "tpl-default"}}
	{{#content "body"}}
		{{md "markdown/h2.md"}}
		{{md "markdown/h3.md"}}
		{{md "markdown/h4.md"}}

		<h2>Image</h2>
		{{md "markdown/image.md"}}

		<h2>Text</h2>
		{{md "markdown/text.md"}}

		<h2>Quotes</h2>
		{{md "markdown/quote.md"}}

		<h2>Unordered List</h2>
		{{md "markdown/ul.md"}}

		<h2>Ordered List</h2>
		{{md "markdown/ol.md"}}

		<h2>Table</h2>
		{{md "markdown/table.md"}}
	{{/content}}
{{/extend}}
