{{! ---
component: teaser
============================================

Requirements:
- figure (hbs)

Options:
- teaserContextClass {String} [default] - Just pass a string
- teaserClasses {String} - Modifier classes
- teaserLink {Boolean} - Link the full teaser content
- teaserFigure {Object} - @see figure
- teaserDate {String} - Date
- teaserHeadline {String} - Headline
- teaserContent {String} - Content of teaser which will be displayed in full html
- teaserFooter {String} - Footer content of teaser which will be displayed in full html

Important Notes:

--- }}

<div class="c-teaser{{#if teaserContextClass}}--{{teaserContextClass}}{{else}}--default{{/if}}{{#if teaserClasses}} {{teaserClasses}}{{/if}}" data-css="c-teaser">
	{{#if teaserLink}}
	<a class="teaser__link" href="#" title="{{teaserHeadline}}">
	{{/if}}

	{{#if teaserFigure}}
		<div class="teaser__figure">
			{{> c-figure teaserFigure}}
		</div>
	{{/if}}

	<div class="teaser__content-wrapper">
		{{#if teaserDate}}
			<time class="teaser__date" datetime="2014-11-13T20:00+00:00">{{teaserDate}}</time>
		{{/if}}

		{{#if teaserHeadline}}
			<h3 class="teaser__headline">{{{teaserHeadline}}}</h3>
		{{/if}}

		<div class="teaser__content">
			{{{teaserContent}}}
		</div>
	</div>

	{{#if teaserFooter}}
		<div class="teaser__footer">
			{{{teaserFooter}}}
		</div>
	{{/if}}

	{{#if teaserLink}}
	</a>
	{{/if}}
</div>
