<div class="form__select">
	<div class="form__col-label">
		<label for="{{id}}">
			{{label}}{{#if required}} <abbr title="Required">*</abbr>{{/if}}
		</label>
	</div>
	<div class="form__col-input">
		<select id="{{id}}"{{#if jsModule}} data-js-module="dropdown"{{/if}} class="{{class}}" name="{{id}}"
		{{#each dataAttr}} {{attrKey}}="{{{attrValue}}}"{{/each}}
		{{#if required}} required="required"{{/if}}
		>
		{{#each option}}
			<option value="{{val}}"{{#if disabled}} disabled{{/if}}{{#if selected}} selected{{/if}}>{{name}}</option>
		{{/each}}
		</select>
	</div>
</div>