{{!
---
component: accordion
---
}}

<div class="c-accordion{{#if options.accContextClass}}--{{options.accContextClass}}{{else}}--default{{/if}}{{#if options.accClasses}} {{options.accClasses}}{{/if}}"
     data-css="c-accordion" data-js-context="{{#if options.accContext}}{{options.accClasses}}{{/if}}">
	{{{yield}}}
</div>