{{! ---
component: table
============================================

Requirements:

Options:
- tableContextClass {String} [default] - Just pass a string
- tableClasses {String} - Modifier classes
- tableCaption {String} - A caption for the table
- tableHeader {Object} - An object which contains the headings
- tableHeader.data {Array} - An array which contains the headings
- tableHeader.data.thContent {String} - Heading for table
- tableRow {Object} - An object which contains the table rows
- tableRow.data {Array} - Rows for table
- tableRow.data.trClass {String} - Rows class
- tableRow.data.data {Array} - Columns
- tableRow.data.data.thTag {Boolean} [false] - Definition of th or td
- tableRow.data.data.tdClass {String} - Modifier class for td/th
- tableRow.data.data.tdContent {String} - Column content

Important Notes:

--- }}

<div class="c-table{{#if tableContextClass}}--{{tableContextClass}}{{/if}}{{#if tableClasses}} {{tableClasses}}{{/if}}" data-css="c-table">
	<table class="table__content">
		{{#if tableCaption}}
			<caption class="table__caption">
			{{ tableCaption}}
			</caption>
		{{/if}}
        {{#if tableHeader}}
			<thead class="table__head">
			<tr class="table__row">
                {{#each tableHeader.data}}
					<th class="table__head-inner is-th">{{thContent}}</th>
                {{/each}}
			</tr>
			</thead>
        {{/if}}

		<tbody class="table__body">
        {{#each tableRow.data}}
			<tr class="table__row {{trClass}}">
                {{#each data}}
					<{{#unless thTag}}td{{else}}th{{/unless}} class="table__data{{#unless thTag}} is-td{{else}} is-th{{/unless}} {{tdClass}}">{{tdContent}}</{{#unless thTag}}td{{else}}th{{/unless}}>
                {{/each}}
			</tr>
        {{/each}}
		</tbody>
	</table>
</div>
