---
component: cta
---
<{{#if ctaButton}}button{{else}}a{{/if}}
	{{#if ctaContent}} title="{{ctaContent}}"{{/if}}
	{{#if ctaTarget}} href="{{ctaTarget}}"{{/if}}
		class="c-cta{{#if ctaContextClass}}--{{ctaContextClass}}{{else}}--default{{/if}}{{#if ctaClass}} {{ctaClass}}{{/if}}"
		data-css="c-cta"
	{{#if ctaDownload}} target="_blank"{{/if}}
	{{#if ctaJsAtom}} data-js-atom="{{ctaJsAtom}}"{{/if}}
	{{#if ctaJsModule}} data-js-module="cta" data-js-options='{
	{{#each ctaJsOptions}}"{{ctaKey}}": {{#unless ctaObject}}"{{/unless}}{{{ctaValue}}}{{#unless ctaObject}}"{{/unless}}{{#if @last}}{{else}}, {{/if}}{{/each}}
	}'{{/if}}>
	{{#isnt ctaIcon false}}<span class="cta__icon"></span> {{/isnt}}
	<span class="cta__content">{{ctaContent}}</span>
</{{#if ctaButton}}button{{else}}a{{/if}}>