{{! ---
component: slide-fox
--- }}

<div class="c-slide-fox{{#if options.contextClass}}--{{options.contextClass}}{{else}}--default{{/if}}{{#if options.modifierClasses}} {{options.modifierClasses}}{{/if}}"
     data-css="c-slide-fox"
     data-js-module="slide-fox"
     data-js-options='{
        {{#each options.jsOptions}}"{{jsKey}}": "{{{jsValue}}}"{{#if @last}}{{else}}, {{/if}}{{/each}}
     }'>
	{{{yield}}}
</div>