{{! ---
module: toggle
--- }}

<div id="{{options.id}}" class="toggle{{#if options.contextClass}}--{{options.contextClass}}{{else}}--default{{/if}}" data-js-module="toggle" data-js-options='{{options.jsOptions}}'>
	{{{yield}}}
</div>