---
component: youtube-video
---
<div class="c-yt-video{{#if ytContextClass}}--{{ytContextClass}}{{else}}--default{{/if}}{{#if ytClasses}} {{ytClasses}}{{/if}}" data-css="c-yt-video">
	<iframe src="{{ytUrl}}" frameborder="0" width="{{ytWidth}}" height="{{ytHeight}}"></iframe>
</div>